.custom-login{
    height: 20%;
    padding-top: 10%;
}
img.slider-img{
    height: 300px; 
    margin-left: 50px;
    margin-right: 50px;     
}
.custom-product{
    height: 100%;
    text-align: center;
    color: rgb(10, 105, 214);
}
.trend-image{
    height: 100px;
}
.trend-item{
    float: left;
    width: 20%;
}
.detail-img{
    height: 250px;
}
.search-box{
    width: 400px !important;
}
.cart-list-divider{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}